In [1]:
import numpy as np
import pandas as pd
import statistics as stat

**ANSWER OF FIRST QUESTION**

In [2]:
data=pd.read_csv("/content/Students_Performance.csv")

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [22]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

**a**. Find out how many males and females participated in
the test.

In [8]:
gender_count=data['gender'].value_counts()

In [9]:
gender_count

female    518
male      482
Name: gender, dtype: int64

**b**.Analyse the students' parental level of
education

In [13]:
parental_education=data['parental level of education'].unique()

In [14]:
parental_education

array(['some high school', 'high school', 'some college',
       "associate's degree", "bachelor's degree", "master's degree"],
      dtype=object)

In [17]:
parental_education_counts = data['parental level of education'].value_counts()

In [18]:
parental_education_counts

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [19]:
parental_education_describe = data['parental level of education'].describe

In [21]:
parental_education_describe()

count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

**c**.Who scores the most on average for math, reading and
   writing based on


   i. Gender


   ii. Test preparation course

i.  based on gender

In [27]:
average_score_gender = data.groupby('gender').mean(numeric_only=True)[['math score','reading score','writing score']]
print(average_score_gender)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

ii.  based on test preparation course

In [28]:
average_score_test_preparation = data.groupby('test preparation course').mean(numeric_only=True)[['math score','reading score','writing score']]
print(average_score_test_preparation)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

**d**. What do you think about the scoring variation for
math, reading and writing based on

i. Gender

ii. Test preparation course

i. based on gender

In [37]:
variation_gender_gender= data.groupby('gender').std(numeric_only=True)[['math score','reading score','writing score']]
print(variation_gender)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

ii. based on test preparation course

In [36]:
variation_test_preparation = data.groupby('test preparation course').std(numeric_only=True)[['math score','reading score','writing score']]
print(variation_test_preparation)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

**e**. Bonus Points for Top 25% Students in Math Score

In [44]:
top_25_percentile_math = data[data['math score']>=data['math score'].quantile(0.75)]

In [45]:
print(top_25_percentile_math)

     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[255 rows x 8 columns]

In [48]:
print("give bonus point  for top 25% students based on math score")

give bonus point  for top 25% students based on math score